trainer:
  precision: "16-mixed" # or "bf16-mixed" for uni2 or 16-mixed for h-optimus
  max_steps: 40000
  val_check_interval: ~
  check_val_every_n_epoch: 1
  accumulate_grad_batches: 1
  logger:
    class_path: lightning.pytorch.loggers.wandb.WandbLogger
    init_args:
      project: "pathseg-benchmark"
      group: IGNITE
      job_type: baseline
      tags: ["baseline", "wahoo", "20x", "448x448", "IGNITE"]
      save_dir: ./wandb
      log_model: false # avoid artifact uploads in debug
data:
  class_path: pathseg.datasets.ignite.IGNITE
  init_args:
    root: /home/valentin/workspaces/pathseg-benchmark/data/fss/ignite # Change path accordingly
    img_size: [448, 448]
    prefetch_factor: 4
    num_workers: 0
    batch_size: 16
    fold: 0
    epoch_repeat: 30
    return_background_mask: true # for mask2former, to avoid learning a background class, TODO: check why is not coherent for semantic segmenation
    ignore_idx: 255 
model:
  class_path: pathseg.training.mask2former_semantic.Mask2formerSemantic
  init_args:
    freeze_encoder: False
    network:
      class_path: pathseg.models.mask2former_decoder.Mask2formerDecoder
      init_args:
        encoder_id: "h0-mini"
    tiler:
      class_path: pathseg.training.tiler.GridPadTiler
      init_args:
        tile: 448
        stride: 224
        weighted_blend: true # or true
        pad_mode: "replicate" # optional; nice for images
        pad_value: 0.0